Martin Sandve Alnæs <martinal@simula.no>
Martin Sandve Alnæs <martinal@simula.no> <martinal@localhost>
Martin Sandve Alnæs <martinal@simula.no> <martinal@martinal-desktop>
Anders Logg <logg@chalmers.se>
Anders Logg <logg@chalmers.se> <logg@glaurung>
Anders Logg <logg@chalmers.se> <logg@simula.no>
Kristian B. Ølgaard <k.b.oelgaard@gmail.com>
Kristian B. Ølgaard <k.b.oelgaard@gmail.com> <k.b.oelgaard@tudelft.nl>
Kent-Andre Mardal <kent-and@simula.no>
Kent-Andre Mardal <kent-and@simula.no> <kent-and@localhost>
Andrew McRae <a.mcrae12@imperial.ac.uk>
