name: UFL CI
on:
  push:
    branches: "**"
    tags: "**"

  schedule:
    - cron: "0 8 * * 1"
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - os: windows-latest
            python-version: "3.13"
          - os: macos-latest
            python-version: "3.13"

    uses: ./.github/workflows/test.yml
    with:
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
      deploy: ${{ github.repository == 'FEniCS/ufl' && ( github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') ) && matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12 }}

  docs:
    needs: [lint, test]
    uses: ./.github/workflows/docs.yml
    secrets:
      SSH_GITHUB_DOCS_PRIVATE_KEY: ${{ secrets.SSH_GITHUB_DOCS_PRIVATE_KEY }}
    with:
      deploy: ${{ github.repository == 'FEniCS/ufl' && ( github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') )}}
