# This workflow will install Basix, FFCx, DOLFINx and run the DOLFINx and FFCx unit tests.

name: FEniCSx integration

on:
  pull_request:
    branches:
      - main

jobs:
  ffcx-tests:
    name: Run FFCx tests
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CXX: g++-10

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install test dependencies
        run: |
          sudo apt-get install -y graphviz libgraphviz-dev ninja-build pkg-config

      - name: Install UFL
        run: |
          pip3 install .

      - name: Install Basix
        run: |
          python3 -m pip install git+https://github.com/FEniCS/basix.git

      - name: Clone FFCx
        uses: actions/checkout@v2
        with:
          path: ./ffcx
          repository: FEniCS/ffcx
          ref: main
      - name: Install FFCx
        run: |
          cd ffcx
          pip install .[ci]
      - name: Run FFCx unit tests
        run: python3 -m pytest -n auto ffcx/test

  dolfinx-tests:
    name: Run DOLFINx tests
    runs-on: ubuntu-latest
    container: fenicsproject/test-env:latest-openmpi

    env:
      CC: clang
      CXX: clang++

      PETSC_ARCH: linux-gnu-complex-32
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_rmaps_base_oversubscribe: 1
      OMPI_MCA_plm: isolated
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      OMPI_MCA_mpi_yield_when_idle: 1
      OMPI_MCA_hwloc_base_binding_policy: none

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies (Python)
        run: |
          python3 -m pip install --upgrade pip

      - name: Install UFL
        run: |
          pip3 install .

      - name: Install Basix and FFCx
        run: |
          python3 -m pip install git+https://github.com/FEniCS/basix.git
          python3 -m pip install git+https://github.com/FEniCS/ffcx.git

      - name: Clone DOLFINx
        uses: actions/checkout@v2
        with:
          path: ./dolfinx
          repository: FEniCS/dolfinx
          ref: main
      - name: Install DOLFINx
        run: |
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Developer -B build -S dolfinx/cpp/
          cmake --build build
          cmake --install build
          pip3 -v install --global-option build --global-option --debug dolfinx/python/
      - name: Run DOLFINx unit tests
        run: python3 -m pytest -n auto dolfinx/python/test/unit
